@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@500;600;800&family=Encode+Sans:wght@100;500;900&display=swap');

$font-color: #fff;
$padding-section: 2rem;
$border: 3px solid white;

@mixin img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

@-webkit-keyframes point {
  0% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  50% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }

  100% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

@keyframes point {
  0% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  50% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }

  100% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

@-webkit-keyframes point-horizontal {
  0% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }

  50% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }

  100% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
}

@keyframes point-horizontal {
  0% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }

  50% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }

  100% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes vibrate-3 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  2% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  4% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }

  6% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  8% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }

  10% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  12% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }

  14% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  16% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  18% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }

  20% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  22% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }

  24% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  26% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }

  28% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  30% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }

  32% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  34% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }

  36% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  38% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }

  40% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  42% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }

  44% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

#es-rc #es-rc-content img {
  display: block;
  max-width: 100%;
}

#es-rc #es-rc-content {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: 'Encode Sans Expanded', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: clamp(1rem, 0.963rem + 0.1852vw, 1.125rem);
  line-height: 1.2;
  max-width: 959px;
  margin: auto;
  color: $font-color;
  width: 100%;

  h1 {
    margin-block: 0;
  }

  & .es-section__top {
    background-image: url(../images/bg-1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  & .es-kv {
    padding: $padding-section;

    @media (min-width: 768px) {
      padding-top: 0;
      padding-left: 0;
      position: relative;
      height: 450px;
    }

    &__img {
      display: none;

      @media (min-width: 768px) {
        display: block;
      }
    }

    &__packshot {
      margin: auto;
      max-height: 300px;
      -webkit-animation: vibrate-3 0.5s linear infinite both;
      animation: vibrate-3 2s linear infinite both;
      animation-delay: 1s;

      @media (min-width: 768px) {
        max-height: unset;
        position: absolute;
        bottom: 0;
        left: 37%;
      }
    }

    &__title {
      font-size: clamp(1.75rem, 1.6759rem + 0.3704vw, 2rem);
      padding-block: 2rem;
      padding-block-end: 0;
      font-weight: 400;

      @media (min-width: 768px) {
        font-size: 39px;
      }

      &--span {
        display: block;
      }

      &-container {
        text-align: center;

        @media (min-width: 768px) {
          text-align: left;
          position: absolute;
          transform: translate(-50%, -50%);
          top: 50%;
          right: -8%;
          width: 266px;
        }
      }
    }
  }

  & .es-carousel {
    .es-slide {
      &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem;

        &--1 {
          position: relative;
        }

        &--3 {
          .es-slide__text {
            font-family: 'Encode Sans', sans-serif;
            font-weight: 100;
          }

          @media (min-width: 768px) {
            flex-direction: row;
            align-items: flex-start;
          }
        }
      }

      &__img--1 {
        max-height: 300px;
      }

      &__img--arrow {
        display: none;
        fill: white;
        max-width: 120px;

        @media (min-width: 768px) {
          display: block;
        }
      }

      .es-arrow--1 {
        transform: scaleX(-1);
      }

      &__text-container {
        display: flex;
        flex-direction: column;

        @media (min-width: 768px) {
          position: absolute;
          max-width: 30%;
          transform: translate(-50%, -50%);
        }

        &:nth-of-type(1) {
          align-items: flex-end;
          top: 38%;
          left: 27%;
        }

        &:nth-of-type(2) {
          align-items: flex-start;
          top: 28%;
          right: 7%;
        }
      }

      &__text {
        text-align: center;
        font-family: 'Encode Sans', sans-serif;
        font-weight: 100;

        &--bold {
          font-weight: 800;
          display: block;
        }
      }

      &__title {
        font-size: clamp(2rem, 1.7037rem + 1.4815vw, 2.5rem);
        text-align: center;
        margin-block: 1.5rem;
        font-family: 'Encode Sans', sans-serif;
        font-weight: 100;
        &--first {
          font-size: clamp(1rem, 1.5rem, 2rem);
          font-weight: 700;
          color: #ef9dc4;
        }
        &--bold {
          font-family: 'Encode Sans', sans-serif;
          font-weight: 900;
        }
      }

      &__flex-container {
        display: flex;
        flex-direction: column;

        @media (min-width: 768px) {
          flex-direction: row;
          gap: 3rem;
        }
      }

      &__single {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        &--3 {
          flex-direction: column;

          @media (min-width: 768px) {
            flex-basis: 33%;
          }
        }
      }

      &__number {
        width: 3ch;
        font-size: clamp(1.125rem, 1.0139rem + 0.5556vw, 1.5rem);
        text-align: center;
        font-family: 'Encode Sans', sans-serif;
        font-weight: 500;
        margin-block: 1rem;
      }

      &__icon {
        width: 300px;

        &--3 {
          height: 84px;
          scale: 1;
          transition: all 0.3s ease-in-out;

          &:hover {
            scale: 1.05;
          }

          @media (min-width: 768px) {
            height: 128px;
          }
        }
      }
    }
  }

  & .es-section__bottom {
    background-image: url('../images/bg-2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    padding: 2rem;
    overflow: hidden;

    p {
      margin: 0;
    }
  }

  .es-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    height: 400px;
    padding-bottom: 4rem;

    @media (min-width: 768px) {
      height: 550px;
    }

    &:after {
      content: '';
      background-image: url('../images/hand.png');
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 100%;
      right: -63%;
      transform: translate(-50%, -50%);

      @media (min-width: 768px) {
        right: -44%;
        top: 70%;
        width: 80%;
      }
    }

    &__single {
      @media (min-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        transform: translate(-50%, -50%);
        z-index: 1;

        &:nth-of-type(1) {
          top: 7%;
          left: 52%;

          &:after {
            content: '';
            display: block;
            margin-top: 0.5rem;
            width: 620px;
            height: 5px;
            border-radius: 3px;
            border-top: $border;
            border-left: $border;
            border-right: $border;
          }
        }

        &:nth-of-type(2) {
          top: 46%;
          left: 16%;

          &:after {
            content: '';
            display: block;
            margin-top: 0.5rem;
            width: 5px;
            height: 100px;
            border-radius: 3px;
            border-top: $border;
            border-left: $border;
            border-bottom: $border;
          }
        }

        &:nth-of-type(3) {
          top: 85%;
          left: 43%;
          flex-direction: column-reverse;

          &:after {
            content: '';
            display: block;
            margin-top: 0.5rem;
            width: 455px;
            height: 5px;
            border-radius: 3px;
            border-bottom: $border;
            border-left: $border;
            border-right: $border;
          }
        }
      }
    }

    &__label {
      font-family: 'Encode Sans', sans-serif;
      font-weight: 100;
      font-size: clamp(1.125rem, 1.088rem + 0.1852vw, 1.25rem);
    }

    &__value {
      font-family: 'Encode Sans', sans-serif;
      font-weight: 900;
      font-size: clamp(1.375rem, 1.1528rem + 1.1111vw, 2.125rem);
    }
  }

  .es-features {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-block: 4rem;

    figure {
      margin: 0;
    }

    @media (min-width: 768px) {
      flex-direction: row;
      width: 100%;
    }

    &__single {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;

      @media (min-width: 768px) {
        flex-basis: 25%;
      }
    }

    &__icon {
      object-fit: contain;
      object-position: center;
      height: 125px;
      width: 147px;
      scale: 1;
      transition: all 0.3s ease-in-out;

      &:hover {
        scale: 1.05;
      }
    }

    &__text {
      font-family: 'Encode Sans', sans-serif;
      font-weight: 100;
      text-align: center;

      &--bold {
        display: block;
        font-family: 'Encode Sans Expanded', sans-serif;
        font-weight: 800;
      }
    }
  }

  .es-cross {
    padding-block: 4rem;

    &__title {
      max-width: 39.75rem;
      font-size: clamp(1rem, 1.5rem, 2rem);
      font-weight: 700;
      color: #ef9dc4;
      text-align: center;
    }

    &__items {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 2rem;
    }

    &__img {
      @include img;
      margin-bottom: 2rem;
    }

    &__item-title {
      display: block;
      margin: 0 auto;
      margin-bottom: 2rem;
      width: 90%;
      text-align: center;
      font-family: inherit;
      font-weight: 700;
      font-size: clamp(1.125rem, 1.088rem + 0.1852vw, 1rem);
    }

    &__item-link {
      font-family: 'Encode Sans Expanded', sans-serif;
      font-size: clamp(0.5rem, 0.7rem + 0.1852vw, 1rem);
      font-weight: 800;
      padding: 0.75rem 2rem;
      color: #1c35b0;
      border-radius: 1rem;
      background-color: #fff;
      text-decoration: none;
    }
  }

  & .es-section__bottom {
    .es-cross__title {
      margin: 0 auto;
      margin-bottom: 2rem;
    }
  }
}

/***************************** slider styles ***************************/
.es-slider {
  overflow: hidden;
}

.es-slider .es-carousel-container {
  position: relative;
  width: 300%;
}

.es-slider .es-carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.es-slider .es-slide {
  flex: 0 0 33.3333%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.es-slider .es-carousel-arrows {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  width: calc(100vw - 20px);
  max-width: 959px;
}

.es-slider .es-prev-arrow,
.es-slider .es-next-arrow {
  background-color: transparent;
  border: none;
  font-size: 20px;
  padding: 10px;
}

.es-slider .es-prev-arrow {
  width: 50px;
  height: 50px;
  rotate: 180deg;
}

.es-slider .es-next-arrow {
  width: 50px;
  height: 50px;
}

.es-slider .es-prev-arrow:hover,
.es-slider .es-next-arrow:hover {
  cursor: pointer;
}

/* reveal on scroll animations */
.es-info__single,
.es-slide__text-container,
.es-kv__packshot,
.es-kv__title-container,
.es-features__single {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s, transform 0.3s;
}

.es-info__single.reveal,
.es-slide__text-container.reveal,
.es-kv__packshot.reveal,
.es-kv__title-container.reveal,
.es-features__single.reveal {
  opacity: 1;
  transform: translateY(0);
}
